@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,700,800,900&display=swap');

html, body, h1 {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
#app {
  background: #101214;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#wrapper {
  text-align: center;
  display: flex;
}
/* Our mixin positions a copy of our text
 directly on our existing text, while
 also setting content to the appropriate
 text set in the data-text attribute. */
.glitch-section {
}
.glitch {
  position: relative;
  color: white;
  font-size: 2em;
  letter-spacing: 0.2em;
  /* Animation provies a slight random skew. Check bottom of doc
   for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
   a typical top,right,bottom,left fashion and creates a mask
   to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
   with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}
.separtor {
	width: 4vw;
}
.about-me {
	color: white;
}
.name {
	color: white;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.info {
	color: #ababab;
	font-size: 0.9em;
	margin: 0.4vw 0;
}
.social-section {
	display: flex;
    padding: 0 32%;
    width: auto;
}
.social-icon {
	margin: 0 10%;
}
/* Creates an animation with 20 steaps. For each step, it calculates 
 a percentage for the specific step. It then generates a random clip
 box to be used for the random glitch effect. Also adds a very subtle
 skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(93px, 9999px, 81px, 0);
    transform: skew(0.26deg);
  }
  5% {
    clip: rect(80px, 9999px, 97px, 0);
    transform: skew(0.01deg);
  }
  10% {
    clip: rect(36px, 9999px, 50px, 0);
    transform: skew(0.78deg);
  }
  15% {
    clip: rect(94px, 9999px, 85px, 0);
    transform: skew(0.07deg);
  }
  20% {
    clip: rect(26px, 9999px, 27px, 0);
    transform: skew(0.08deg);
  }
  25% {
    clip: rect(27px, 9999px, 76px, 0);
    transform: skew(0.21deg);
  }
  30% {
    clip: rect(60px, 9999px, 74px, 0);
    transform: skew(0.12deg);
  }
  35% {
    clip: rect(26px, 9999px, 8px, 0);
    transform: skew(0.92deg);
  }
  40% {
    clip: rect(64px, 9999px, 41px, 0);
    transform: skew(0.63deg);
  }
  45% {
    clip: rect(4px, 9999px, 38px, 0);
    transform: skew(0.9deg);
  }
  50% {
    clip: rect(60px, 9999px, 58px, 0);
    transform: skew(0.12deg);
  }
  55% {
    clip: rect(19px, 9999px, 87px, 0);
    transform: skew(0.65deg);
  }
  60% {
    clip: rect(54px, 9999px, 96px, 0);
    transform: skew(0.35deg);
  }
  65% {
    clip: rect(60px, 9999px, 62px, 0);
    transform: skew(0.72deg);
  }
  70% {
    clip: rect(86px, 9999px, 9px, 0);
    transform: skew(0.84deg);
  }
  75% {
    clip: rect(80px, 9999px, 55px, 0);
    transform: skew(0.87deg);
  }
  80% {
    clip: rect(52px, 9999px, 97px, 0);
    transform: skew(0.32deg);
  }
  85% {
    clip: rect(31px, 9999px, 33px, 0);
    transform: skew(0.66deg);
  }
  90% {
    clip: rect(24px, 9999px, 63px, 0);
    transform: skew(0.37deg);
  }
  95% {
    clip: rect(50px, 9999px, 89px, 0);
    transform: skew(0.38deg);
  }
  100% {
    clip: rect(44px, 9999px, 53px, 0);
    transform: skew(0.68deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(81px, 9999px, 39px, 0);
    transform: skew(0.61deg);
  }
  5% {
    clip: rect(10px, 9999px, 97px, 0);
    transform: skew(0.93deg);
  }
  10% {
    clip: rect(92px, 9999px, 72px, 0);
    transform: skew(0.63deg);
  }
  15% {
    clip: rect(82px, 9999px, 27px, 0);
    transform: skew(0.41deg);
  }
  20% {
    clip: rect(50px, 9999px, 72px, 0);
    transform: skew(0.27deg);
  }
  25% {
    clip: rect(53px, 9999px, 28px, 0);
    transform: skew(0.24deg);
  }
  30% {
    clip: rect(62px, 9999px, 83px, 0);
    transform: skew(0.01deg);
  }
  35% {
    clip: rect(65px, 9999px, 5px, 0);
    transform: skew(0.79deg);
  }
  40% {
    clip: rect(34px, 9999px, 76px, 0);
    transform: skew(0.97deg);
  }
  45% {
    clip: rect(35px, 9999px, 25px, 0);
    transform: skew(0.37deg);
  }
  50% {
    clip: rect(8px, 9999px, 13px, 0);
    transform: skew(0.43deg);
  }
  55% {
    clip: rect(31px, 9999px, 60px, 0);
    transform: skew(0.69deg);
  }
  60% {
    clip: rect(20px, 9999px, 97px, 0);
    transform: skew(0.39deg);
  }
  65% {
    clip: rect(1px, 9999px, 16px, 0);
    transform: skew(0.82deg);
  }
  70% {
    clip: rect(42px, 9999px, 10px, 0);
    transform: skew(0.66deg);
  }
  75% {
    clip: rect(60px, 9999px, 19px, 0);
    transform: skew(0.09deg);
  }
  80% {
    clip: rect(60px, 9999px, 16px, 0);
    transform: skew(0.77deg);
  }
  85% {
    clip: rect(56px, 9999px, 52px, 0);
    transform: skew(0.55deg);
  }
  90% {
    clip: rect(89px, 9999px, 29px, 0);
    transform: skew(0.93deg);
  }
  95% {
    clip: rect(38px, 9999px, 46px, 0);
    transform: skew(0.78deg);
  }
  100% {
    clip: rect(93px, 9999px, 11px, 0);
    transform: skew(0.16deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(3deg);
  }
  10% {
    transform: skew(3deg);
  }
  20% {
    transform: skew(-1deg);
  }
  30% {
    transform: skew(2deg);
  }
  40% {
    transform: skew(1deg);
  }
  50% {
    transform: skew(2deg);
  }
  60% {
    transform: skew(3deg);
  }
  70% {
    transform: skew(1deg);
  }
  80% {
    transform: skew(2deg);
  }
  90% {
    transform: skew(-4deg);
  }
  100% {
    transform: skew(-3deg);
  }
}
